.white {
	display: inline-block;
	color: rgb(255, 255, 255);
}

.white a:hover {
	font-weight: normal;
    text-decoration: none;
}

/* footer {position: absolute; bottom: 0; left: 0; right: 0} */
 
.black {
	background-color: black;
}

.titre-principal
{
	font-size: 4em;
	margin-left: 10%;
}

.loginBOX{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background: black;
    text-align: center;
}

.decole {
    margin-top: 5vh;
    transform: translateY(-30%);
}

.parent {
	margin-top: 10vh;
	transform: translateY(-15%);
}

.dot {
    margin: 6px 6px 0px 0px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}

#title-current-place {
    font-size: x-large;
}

.nav2 {
    color: black;
    font-size: 13px;
    line-height: 2.6;
    margin-left: -30px;
    display: inline-block;
}

.nav2 li {
    display: inline;
    margin-right: 15px;
}

.nav2 a:hover {
    font-weight: bold;
    text-decoration: none;
}

.nav2 ul {
    list-style-type: none;
    margin-left:0px;
    margin-top:0px;
}

.nav2 a {
    color: black;
}

.decalage{
    margin-left:10px;
}

#map {
    height: 40px;
    height: 58%;
}

#map2 {
    height: 50px;
    height: 50%;
}

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.info-bubble {

    color: #a0a0a0;
    font-weight: 700;
    font-size: 12px;
    background-color: rgba(0,0,0,.8);
    height: 575px;
    width: 340px;
    position: relative;
    z-index: 999;
}

.top-right {
    font-size: large;
    position: absolute;
    top: 8px;
    right: 16px;
}

#overlay {
    transition: opacity 0.5s ease-out;
    opacity: 0;
    overflow: hidden;
}

.dore{
    color:rgb(202, 175, 133);
}

.etage {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.info-bubble {
    color: #a0a0a0;
    font-weight: 700;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .8);
    height: 575px;
    width: 340px;
    position: relative;
    z-index: 999;
    opacity: 0.9;
}

.top-right {
    font-size: large;
    position: absolute;
    top: 10px;
    right: 18px;
}

.container-img {
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 200px;
    padding: 0;
}

.box_timeline {
    position: relative;
    z-index: 888;
    padding-right: 5px;
    border-top-right-radius: 8px;
    top: 80px;
    background-color: rgb(255 255 255 / 64%);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 68%);
    border-bottom-right-radius: 8px;
}

.etage_left {
    padding-left: 50px;
    overflow: visible;
    padding-bottom: 50px;
}

.test {
    position: relative;
    z-index: 1;
}

.centrer {
    justify-content: space-around;
}

.btn-primary {
    color: #fff;
    background-color: #7F00FF;
    border-color: #7F00FF;
}

.outils {
    font-family: Arial Black;
    font-size: 100px;
    margin-right: 0px;
    margin-left: 0px;
    height: 100px;
}

.outils {
    font-family: Arial Black;
    font-size: 100px;
}

.interactif {
    font-family: Arial Black;
    font-size: 43px;
    height: 54px;
}

.enleveMarge {
    margin-left:0px;
    margin-right:0px;
    width: 100%;
    max-width: 100%;
}

.margeNegatif {
    margin-left: -2.5em;
}

.demiBR {
    content: "";
    margin: 2.8em;
    display: block;
    font-size: 24%; 
}

.margeBoutonBasDroite {
    margin-right: -4em;
}

.decalageGauche {
    margin-left:-50px;
}

.decalageDroite {
    margin-left: 10px;
}

.title {
    font-size:25px;
}

.gras {
    font-size: 20px;
    font-weight: bold;
}

.normalGras {
    font-weight: bold;
}
