.flex-parent2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    min-height: 30px;
    position: relative;
}

.flex-parent2 ul {
  width: 30px;
  display: inline;
  z-index: 800;
}